@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

.carousel-item {
  height: 80vh;
  min-height: 400px;
  max-height: 800px;
}

.carousel-item > img {
  object-fit: cover;
  filter: brightness(50%);
}

/* --- FEATURES --- */
.features {
  background-color: #d6e4e7;
}
.features h2 {
  font-weight: 400;
}

/* --- MAX-WIDTH RESIZE --- */
.resized {
  max-width: 200px;
}
.resized-mini {
  max-width: 150px;
}

/* --- FOOTER --- */
footer {
  font-size: 0.8rem;
  background-color: #282828;
  color: white;
}
.footer-link a {
  color: #d3d3d3;
}
footer a:hover {
  color: white;
}


/* ----- ABOUT PAGE ----- */
.about {
  min-height: 50vh;
}
.background {
  background-image: url(../img/staff.jpg);
  background-position: 50% 15%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  top: 0;
  left: 0;
  z-index: -1;
}
.about h1 {
  font-size: 5rem;
  color: white;
}
.card-photo {
  object-fit: cover;
  height: 300px;
}

/* ----- MENU PAGE ----- */
.background.menu {
  background-image: url(../img/dishes.jpg);
  filter: brightness(40%);
}
.menu-pills .nav-link {
  color: gray;
}
.menu-pills .nav-link.active {
  background-color: gray;
}
.banner {
  background-image: url(../img/restaurant-background.jpg);
  background-position: 50% 15%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white
}
.banner .wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}
.semi-transparent {
  background-color: rgba(0, 0, 0, 0.8);
}
.banner h2 {
  font-size: 3rem;
}
.banner img {
  border-radius: 50%;
}
.image-cover {
  object-fit: cover;
}
